<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserCustomLabel" jhiTranslate="greatBigExampleApplicationApp.userCustom.home.createOrEditLabel">Create or edit a User Custom</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!userCustom.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="userCustom.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="greatBigExampleApplicationApp.userCustom.bio" for="field_bio">Bio</label>
            <textarea class="form-control" name="bio" id="field_bio"
                [(ngModel)]="userCustom.bio"  ></textarea>
        </div>

        <div class="form-group">
            <label jhiTranslate="greatBigExampleApplicationApp.userCustom.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="userCustom.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === userCustom.user?.id ? userCustom.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="greatBigExampleApplicationApp.userCustom.follower" for="field_follower">Follower</label>
            <select class="form-control" id="field_follower" multiple name="follower" [(ngModel)]="userCustom.followers">
                <option [ngValue]="getSelected(userCustom.followers, userCustomOption)" *ngFor="let userCustomOption of usercustoms; trackBy: trackUserCustomById">{{userCustomOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="greatBigExampleApplicationApp.userCustom.favorite" for="field_favorite">Favorite</label>
            <select class="form-control" id="field_favorite" multiple name="favorite" [(ngModel)]="userCustom.favorites">
                <option [ngValue]="getSelected(userCustom.favorites, articleOption)" *ngFor="let articleOption of articles; trackBy: trackArticleById">{{articleOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
